    html, body {
        margin: 0;
        padding: 0;
        height: 100%;
        width: 100%;
        background: url('img/7.png') no-repeat center center fixed;
        background-size: cover;
        font-family:Verdana, Geneva, Tahoma, sans-serif
    }
    
    .container {
        background-color: rgb(188, 171, 190);
        margin: 50px auto;
        padding: 30px;
        border-radius: 15px;
        box-shadow: 0 10px 20px rgba(0,0,0,0.1);
        max-width: 500px;
        width: 90%;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    
    h1 {
        text-align: center;
        color: #2c3e50;
    }
    
    form {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    
    label {
        display: flex;
        flex-direction: column;
        font-weight: 600;
        color: #34495e;
    }
    
    input, select {
        padding: 8px;
        border-radius: 6px;
        border: 1px solid #ccc;
        font-size: 1rem;
    }
    
    button {
        padding: 10px;
        background-color: #eb7a4d;
        color: white;
        border: none;
        border-radius: 6px;
        cursor: pointer;
        font-weight: bold;
        transition: background-color 0.3s;
    }
    
    button:hover {
        background-color: #c0643f;
    }
    
    #resultado {
        margin-top: 20px;
        padding: 10px;
        background-color: #645868;
        border-radius: 6px;
        font-weight: 500;
        color:white;
    }
    
    /* =================== */
    /* Modal de historial  */
    /* =================== */
    
    .modal {
        display: none;
        position: fixed;
        z-index: 1000;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0,0,0,0.6);
    }
    
    .modal-content {
        background-color: #fff;
        margin: 10% auto;
        padding: 20px;
        border-radius: 10px;
        width: 80%;
        max-width: 500px;
        box-shadow: 0 0 10px rgba(0,0,0,0.3);
        animation: fadeIn 0.3s ease-in-out;
    }
    
    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
        cursor: pointer;
    }
    
    .close:hover {
        color: #000;
    }
    
    #listaHistorial {
        list-style: none;
        padding: 0;
        margin-top: 10px;
    }
    
    #listaHistorial li {
        background: #f2f2f2;
        margin: 5px 0;
        padding: 10px;
        border-radius: 6px;
        font-size: 0.95rem;
    }
    
    /* Animación opcional */
    @keyframes fadeIn {
        from {opacity: 0;}
        to {opacity: 1;}
    }
    